<div class="dashboard-container">
    <div class="info">
        <div id="transaction-info" class="transaction-info-container"></div>
    </div>
    <div class="admin-button">
        <button id="add-income">
            <img src="public/add-income.svg" alt="Add Income">
        </button>
        <button id="add-transactions">
            <img src="public/add-transaction.svg" alt="Add Transactions">
        </button>
    </div>
    <div class="table-container">
        <div id="dashboard-table-container"></div>
    </div>
</div>