<div class="login-card">
    <div class="login-card-header">
        <h2 class="login-card-title">Go To Dashboard</h2>
    </div>
    <div class="login-card-body">
        <input type="text" id="username" class="login-card-input" placeholder="Username">
        <input type="password" id="password" class="login-card-input" placeholder="Password">
    </div>
    <div class="login-card-footer">
        <button id="login-button" class="login-card-button">Login</button>
        <div class="login-card-divider"></div>
        <p class="login-card-text">Not an admin? <a href="index.html">GO BACK PLEASE</a></p>
    </div>
</div>