<div class="transaction-table">
    <h2>Transaction</h2>
    <div class="divider"></div>
    <table id="transaction-table">
        <thead>
            <tr>
                <th>Debit</th>
                <th>Credit</th>
                <th>Balance</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <!-- Transaction data will be populated here -->
        </tbody>
    </table>
    <div class="dashboard-pagination">
        <button id="prev-transaction-page" onclick="changeTransactionPage(-1)" disabled>
            <img src="public/left_arrow.svg" alt="Previous Page">
        </button>
        <button id="next-transaction-page" onclick="changeTransactionPage(1)" disabled>
            <img src="public/right_arrow.svg" alt="Next Page">
        </button>
    </div>
</div>